{% extends "base.html" %}

{% block content %}
<h2>All Sales</h2>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Sold By</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ sale.item.name|escape }}</td>
            <td>{{ sale.quantity }}</td>
            <td>${{ sale.total_price }}</td>
            <td>{{ sale.sold_by.username }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No sales available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
